In [3]:
tickers=['infosys','itc']

In [4]:
from livemint_scraping import pipeline_mint
from model import pipeline_training

articles,news_urls=pipeline_mint(tickers)
scores,summaries=pipeline_training(tickers,articles)

Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

In [22]:
import pandas as pd
#1.Negative 2.Neutral 3.Positive
senti={0:'Negative',
       1:'Neutral',
       2:'Postive'}

In [24]:
def create_output_array(summaries, scores, urls,monitored_tickers):
    output = []
    for ticker in monitored_tickers:
        for counter in range(len(summaries[ticker])):
            output_this = [
                ticker,
                summaries[ticker][counter],
                scores[ticker][counter],
                senti[scores[ticker][counter].argmax()],
                list(urls[ticker])[counter]
            ]
            output.append(output_this)
    return output

In [ ]:
senti[scores['infosys'][0].argmax()]

In [21]:
list(news_urls['infosys'])[0]

'https://www.livemint.com/infosys/news/companyid-s0003032&ved2ahukewj1lfkal7yfaxuizjgghyzob90qfnoecayqag&usgaovvaw2dmt8cwwq2xehz-hbhptfn'

In [32]:
output1=create_output_array(summaries,scores,news_urls,tickers)

output2=create_output_array(summaries,scores,news_urls,tickers)

In [31]:
df=pd.DataFrame(output)
df.columns=['Stock','Summary','Scores','Sentiment','link']

In [8]:
import pandas as pd
df=pd.read_excel('Yahoo Ticker Symbols - September 2017.xlsx')

In [9]:
df.head()

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA

In [16]:
df1= df[df['Country']=='India']

In [28]:
df1.to_csv('India_tickers.csv')

In [35]:
df2=df1[df1['Category Name']=='Information Technology Services']

In [36]:
df2

,Ticker,Name,Exchange,Category Name,Country
14041,KPIT.NS,KPIT Technologies Limited,NSI,Information Technology Services,India
15801,TCS.NS,Tata Consultancy Services Limited,NSI,Information Technology Services,India
15962,TECHM.NS,Tech Mahindra Limited,NSI,Information Technology Services,India
16432,MINDTREE.NS,Mindtree Limited,NSI,Information Technology Services,India
17254,NIITLTD.NS,NIIT Limited,NSI,Information Technology Services,India
18182,ONWARDTEC.NS,Onward Technologies Limited,NSI,Information Technology Services,India
18799,QUINTEGRA.NS,Quintegra Solutions Limited,NSI,Information Technology Services,India
23075,WIPRO.NS,Wipro Limited,NSI,Information Technology Services,India
24729,XCHANGING.NS,Xchanging Solutions Limited,NSI,Information Technology Services,India
27494,ZENSARTECH.NS,Zensar Technologies Limited,NSI,Information Technology Services,India
29463,ACCELYA.NS,Accelya Kale Solutions Limited,NSI,Information Technology Services,India
29611,AFL.NS,Accel Frontline Limited,NSI,Information Technology Services,India
29737,ACROPETAL.NS,Acropetal Technologies Limited,NSI,Information Technology Services,India
30021,ADSL.NS,Allied Digital Services Ltd,NSI,Information Technology Services,India
38692,INTELLECT.NS,Intellect Design Arena Limited,NSI,Information Technology Services,India
59147,CTE.NS,Cambridge Technology Enterprises Limited,NSI,Information Technology Services,India
59517,CYBERTECH.NS,CyberTech Systems and Software Limited,NSI,Information Technology Services,India
59643,CYIENT.NS,Cyient Limited,NSI,Information Technology Services,India
62301,DSSL.NS,Dynacons Systems & Solutions Limited,NSI,Information Technology Services,India
66874,NUCLEUS.NS,Nucleus Software Exports Limited,NSI,Information Technology Services,India
67474,FCSSOFT.NS,FCS Software Solutions Limited,NSI,Information Technology Services,India
71857,GENESYS.NS,Genesys International Corporation Limited,NSI,Information Technology Services,India
72675,SPHEREGSL.NS,Sphere Global Services Limited,NSI,Information Technology Services,India
73487,GOLDTECH.NS,Goldstone Technologies Limited,NSI,Information Technology Services,India
73874,SOFTTECHGR.NS,STG Lifecare Limited,NSI,Information Technology Services,India
74054,GSS.NS,GSS Infotech Limited,NSI,Information Technology Services,India
74062,GTL.NS,GTL Limited,NSI,Information Technology Services,India
74788,HCLTECH.NS,HCL Technologies Limited,NSI,Information Technology Services,India
75352,HEXAWARE.NS,Hexaware Technologies Limited,NSI,Information Technology Services,India
80043,IZMO.NS,IZMO Limited,NSI,Information Technology Services,India
85910,TAKE.NS,TAKE Solutions Limited,NSI,Information Technology Services,India
86228,MASTEK.NS,Mastek Limited,NSI,Information Technology Services,India
88391,MPHASIS.NS,MphasiS Limited,NSI,Information Technology Services,India
89915,NIITTECH.NS,NIIT Technologies Limited,NSI,Information Technology Services,India
91426,OMNITECH.NS,Omnitech Infosolutions Ltd,NSI,Information Technology Services,India
92075,PALRED.NS,Palred Technologies Limited,NSI,Information Technology Services,India
92317,PANORAMUNI.NS,Panoramic Universal Limited,NSI,Information Technology Services,India
94817,RAMCOSYS.NS,Ramco Systems Limited,NSI,Information Technology Services,India
94942,REDINGTON.NS,Redington (India) Limited,NSI,Information Technology Services,India
95285,ROLTA.NS,Rolta India Limited,NSI,Information Technology Services,India
95832,SAKSOFT.NS,Saksoft Limited,NSI,Information Technology Services,India
97845,INFINITE.NS,Infinite Computer Solutions (India) Limited,NSI,Information Technology Services,India
100285,TRICOM.NS,Tricom India Limited,NSI,Information Technology Services,India
101987,VISESHINFO.NS,MPS Infotecnics Limited,NSI,Information Technology Services,India
104772,HOVS.NS,HOV Services Limited,NSI,Information Technology Services,India
104827,INFY.NS,Infosys Limited,NSI,Information Technology Services,India
104901,3IINFOTECH.NS,3i Infotech Limited,NSI,Information Technology Services,India

In [50]:
filtered_df = df1[df1['Name'].str.contains(r'[a-z|A-Z]*Tata[a-z|A-Z]*')]

In [51]:
filtered_df[filtered_df['Exchange']=='NSI']

,Ticker,Name,Exchange,Category Name,Country
7776,TATAELXSI.NS,Tata Elxsi Limited,NSI,Technical & System Software,India
15745,TATASTEEL.NS,Tata Steel Limited,NSI,Steel & Iron,India
15801,TCS.NS,Tata Consultancy Services Limited,NSI,Information Technology Services,India
15965,TATAMOTORS.NS,Tata Motors Limited,NSI,Auto Manufacturers - Major,India
15966,TATACHEM.NS,Tata Chemicals Limited,NSI,Chemicals - Major Diversified,India
44120,TATAGLOBAL.NS,Tata Global Beverages Limited,NSI,Food - Major Diversified,India
79123,TATASPONGE.NS,Tata Sponge Iron Limited,NSI,Steel & Iron,India
85876,TTML.NS,Tata Teleservices (Maharashtra) Limited,NSI,Wireless Communications,India
85903,TATAMTRDVR.NS,Tata Motors Limited,NSI,Auto Manufacturers - Major,India
85905,TATACOMM.NS,Tata Communications Limited,NSI,Wireless Communications,India
93855,TATAPOWER.NS,The Tata Power Company Limited,NSI,Diversified Utilities,India
99157,TATAMETALI.NS,Tata Metaliks Limited,NSI,Steel & Iron,India
99286,TATAINVEST.NS,Tata Investment Corporation Limited,NSI,Investment Brokerage - National,India
99305,TATACOFFEE.NS,Tata Coffee Limited,NSI,Food - Major Diversified,India

In [12]:
import requests
from bs4 import BeautifulSoup
url=f"https://www.google.com/search?q=mint+adaniports+share+price"
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

print(url)
r = requests.get(url,headers=headers)
soup = BeautifulSoup(r.text, 'html.parser')
news_links=[a.get('href') for a in soup.find_all('a') 
        if f"https://www.livemint.com/market/market-stats/stocks-" in a["href"] ]
print(news_links)
# news_page_url=preprocess(news_links[0])

https://www.google.com/search?q=mint+adaniports+share+price
[]

In [15]:


url = 'https://www.bing.com/search?q=moneycontrol+tcs'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'
}

r = requests.get(url, headers=headers)
soup = BeautifulSoup(r.text, 'html.parser')

news_links = [a['href'] for a in soup.find_all('a', href=True)
              if "https://www.moneycontrol.com/india/stockpricequote/" in a['href']]

print(news_links)

['https://www.moneycontrol.com/india/stockpricequote/computers-software/tataconsultancyservices/TCS', 'https://www.moneycontrol.com/india/stockpricequote/computers-software/tataconsultancyservices/TCS']

In [28]:
search_url = "https://www.bing.com/search?q=yahoo+finance+tcs+news&tbm=nws"
r = requests.get(search_url)
soup = BeautifulSoup(r.text, 'html.parser')
atags = soup.find_all('a')
hrefs = [link.get('href') for link in atags]

In [2]:
import requests
from bs4 import BeautifulSoup

In [29]:
hrefs

['#',
 '/?FORM=Z9FD1',
 'javascript:void(0);',
 None,
 'javascript:void(0);',
 'javascript:void(0)',
 '/rewards/dashboard',
 'javascript:void(0);',
 'javascript:void(0);',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=hi&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=bn&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=ur&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=pa-guru&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=mr&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=te&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=ta&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=kn&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=gu&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=ml&sid=30135603E5A269060539425CE4DF68E5',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&setlang=or&sid=30135603E5A269060539425CE4DF68E5',
 '/?scope=web&FORM=HDRSC1',
 '/images/search?q=yahoo+finance+tcs+news&FORM=HDRSC2',
 '/videos/search?q=yahoo+finance+tcs+news&FORM=HDRSC3',
 '/maps?q=yahoo+finance+tcs+news&FORM=HDRSC4',
 '/news/search?q=yahoo+finance+tcs+news&FORM=HDRSC6',
 '/shop?q=yahoo+finance+tcs+news&FORM=SHOPTB',
 '/travel/search?q=yahoo+finance+tcs+news&m=flights&FORM=FBSCOP',
 'javascript:void(0);',
 '/travel/search?q=yahoo+finance+tcs+news&m=travel&FORM=THSCOP',
 '/travel/search?q=yahoo+finance+tcs+news&m=hotels&FORM=HTSCOP',
 '/homes?FORM=000060',
 '/bp/verify?FORM=000061',
 'javascript:void(0);',
 'javascript:void(0);',
 'javascript: void(0);',
 '/search?q=yahoo+finance+tcs+news&tbm=nws&FORM=000017&qpvt=yahoo+finance+tcs+news',
 '/search?q=yahoo+finance+tcs+news&filters=ex1%3a%22ez1%22&tbm=nws&FORM=000017',
 '/search?q=yahoo+finance+tcs+news&filters=ex1%3a%22ez2%22&tbm=nws&FORM=000017',
 '/search?q=yahoo+finance+tcs+news&filters=ex1%3a%22ez3%22&tbm=nws&FORM=000017',
 '/search?q=yahoo+finance+tcs+news&filters=ex1%3a%22ez5_19460_19825%22&tbm=nws&FORM=000017',
 'http://go.microsoft.com/fwlink/?LinkId=521839',
 'http://go.microsoft.com/fwlink/?LinkID=246338',
 'https://go.microsoft.com/fwlink/?linkid=868922',
 'https://support.microsoft.com/topic/82d20721-2d6f-4012-a13d-d1910ccf203f',
 '#']

In [25]:
import re

def strip_unwanted_urls(urls, exclude_list):
    val = []
    for url in urls: 
        
        if url!=None:
            if 'https://' in url and not any(exclude_word in url for exclude_word in exclude_list):
                matches = re.findall(r'(https?://\S+)', url)
                if matches:
                    res = matches[0].split('&')[0]
                    val.append(res)
    return list(set(val))

In [26]:
exclude_list = ['maps', 'policies', 'preferences', 'accounts', 'support','google.com']
l=strip_unwanted_urls(list(hrefs),exclude_list)

In [8]:
len(hrefs)

73

In [45]:

news_page_url='https://finance.yahoo.com/quote/TCS.NS/'
r = requests.get(news_page_url,headers=headers)
soup = BeautifulSoup(r.text, 'html.parser')
d=soup.find(id='Main')
news_links = [a.get('href') for a in d.find_all('a') if a.get('href') and '/news/'  in a.get('href')]
for i in range(0,len(news_links)):
    news_links[i]='https://finance.yahoo.com'+news_links[i]

In [46]:
news_links

['/news/tcs-profit-rises-contract-wins-101650834.html',
 '/news/indias-tcs-misses-q4-revenue-101901701.html']

In [49]:
news_links

['https://finance.yahoo.com/news/tcs-profit-rises-contract-wins-101650834.html',
 'https://finance.yahoo.com/news/indias-tcs-misses-q4-revenue-101901701.html']